CONTENTFUL_MANAGEMENT_TOKEN=your-management-token
CONTENTFUL_SPACE_ID=your-space-id
CONTENTFUL_ENVIRONMENT_ID=sandbox-import-01
CONTENTFUL_SOURCE_SPACE_ID=your-uat-space-id
CONTENTFUL_SOURCE_ENVIRONMENT_ID=uat
CONTENTFUL_TARGET_SPACE_ID=your-production-space-id
CONTENTFUL_TARGET_ENVIRONMENT_ID=production
CONTENTFUL_ORG_ID=your-org-id-if-needed
CONTENTFUL_HOST=api.contentful.com
CONTENTFUL_HOST_UPLOAD=upload.contentful.com
CONTENTFUL_USE_CLI_EXPORT=true
CONTENTFUL_CLI_BIN=contentful
CONTENTFUL_ALLOW_NON_SANDBOX=false
SMARTRECRUITERS_BASE_URL=https://api.smartrecruiters.com
SMARTRECRUITERS_COMPANY_ID=Quadient1
SMARTRECRUITERS_TOKEN=your-smartrecruiters-token
SMARTRECRUITERS_TARGET_ENVIRONMENT_ID=
SMARTRECRUITERS_TEMPLATE_ENTRY_ID=4bXLshsUozuOaCY9SvfJnc
SMARTRECRUITERS_TEMPLATE_ENVIRONMENT_ID=master
SMARTRECRUITERS_JOB_SLUG_PREFIX=careers/jobs
SMARTRECRUITERS_MANAGED_ENTRY_PREFIX=job--
SMARTRECRUITERS_PARENT_ENTRY_ID=
SMARTRECRUITERS_HERO_IMAGE_ENTRY_ID=
SMARTRECRUITERS_UAT_PARENT_ENTRY_ID=2RUCrqd5KHdqR6721zkgD8
SMARTRECRUITERS_UAT_IMAGE_ENTRY_ID=your-uat-image-entry-id
SMARTRECRUITERS_MASTER_PARENT_ENTRY_ID=your-master-parent-entry-id
SMARTRECRUITERS_MASTER_IMAGE_ENTRY_ID=your-master-image-entry-id
